
        body {
            margin: 0px;
            padding: 0px;
            background: url("../img/img8.jpg");
            color: #1051b5;
            font-family: 'Gloock', serif;
        }

        .left {
            display: inline-block;
            /* border: 2px solid red; */
            position: absolute;
            left: 60px;
            top: 20px;

        }

        .left img {
            width: 95px;
            cursor: pointer;
        }

        .left div {
            cursor: pointer;
            text-align: center;
            line-height: 0px;

        }


        .mid {
            display: block;
            margin: 20px auto;
            width: 41%;
            /* border: 2px solid green; */

        }

        .right {
            display: inline-block;
            /* border: 2px solid yellow; */
            position: absolute;
            right: 34px;
            top: 20px;

        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
            font-size: 20px;
        }

        .navbar li a {
            color: black;
            text-decoration: none;
            padding: 32px 20px;

        }

        .navbar li a:hover,
        .navbar li a.active {
            color: gray;
            text-decoration: underline;
        }

        .btn {
            margin: 0px 6px;
            color: black;
            background-color: rgb(255, 255, 255);
            padding: 8px 10px;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 7px;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Gloock', serif;

        }

        .btn:hover {
            background-color: rgb(215, 207, 207);
        }

        .btn1 {
            margin: 0px 6px;
            color: black;
            background-color: rgb(255, 255, 255);

            padding: 8px 10px;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 7px;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Gloock', serif;

        }

        .btn1:hover {
            /* background-color: rgb(77, 175, 232); */
            /* background-color: rgba(77, 175, blue, alpha); */
            opacity: 0.9;
        }



        .container {
            border-radius: 42px;
            margin: 96px 56px;
            padding: 43px 75px;
            width: 43%;
            border: 2px solid black;
        }

        .container h1 {
            font-size: 29px;
            text-align: center;
        }

        /* .form-group {
            margin: 23px;
        } */

        .form-group input {
            text-align: center;
            display: block;
            width: 583px;
            margin: 9px auto;
            padding: 6px 5px;
            border: 2px solid black;
            border-radius: 8px;
            font-size: 18px;
            font-family: 'Gloock', serif;
        }

        .container button {
            width: 91%;
            display: block;
            margin: 42px auto;
            font-size: 22px;
            background-color: #1051b5;

        }
        @media (max-width:1500px){
                .mid{
                    display: block;
                    margin: 20px auto;
                    width: 65%;
                }
                .form-group input {
                    text-align: center;
                    display: block;
                    width: 479px;
                    margin: 9px auto;
                    padding: 6px 5px;
                    border: 2px solid black;
                    border-radius: 8px;
                    font-size: 18px;
                    font-family: 'Gloock', serif;
                }
        }
    @media (max-width:1100px) {
        .navbar li a {
            color: black;
            text-decoration: none;
            padding: 18px 12px;
        }
        .form-group input {
            text-align: center;
            display: block;
            width: 398px;
            margin: 9px auto;
            padding: 6px 5px;
            border: 2px solid black;
            border-radius: 8px;
            font-size: 18px;
            font-family: 'Gloock', serif;
        }
        .navbar li {
            display: inline-block;
            font-size: 16px;
        }
        .btn {
            margin: 0px 6px;
            color: black;
            background-color: rgb(255, 255, 255);
            padding: 8px 10px;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 7px;
            font-size: 13px;
            cursor: pointer;
            font-family: 'Gloock', serif;
        }
        .container h1 {
            font-size: 23px;
            text-align: center;
        }
        
    }

    @media (max-width: 1100px){    
        .form-group input {
        text-align: center;
        display: block;
        width: 171px;
        margin: 9px auto;
        padding: 6px 5px;
        border: 2px solid black;
        border-radius: 8px;
        font-size: 18px;
        font-family: 'Gloock', serif;
    }

}